/*=====MEDIA QUERIES========*/

/*==PAGE ACCEUIL START==*/

/*=Navbar=*/
@media (min-width: 991px) {
    .nav-link::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: #a8bbb0;
      visibility: hidden;
      transition: 0.3s ease-in-out;
    }
  
    .nav-link:hover::before,
    .nav-link.active::before {
      width: 100%;
      visibility: visible;
    }
  }
  /*=End Navbar=*/

/*===Page Acceuil===*/

@media (min-width: 768px) {
 /*header*/ 
.hero_img_container {
  display: grid;
  justify-content: center;
}

 




@media (min-width: 992px) {
  /*header*/
  .hero {
    display: flex; 
    align-items: center; 

  }
}
  .hero_img_container {
    margin-right: auto;
    margin-bottom: auto; 
  }

  .items_hero {
    flex: 1;
    margin-top: auto;
  }
  
  
}